
body {
    background: url(../img/keys.png);
    background-position: center;
    background-repeat: no-repeat;
}

.topNav{
    font-size:xx-large;
}

.btn-margin-left {
    margin-left: 4px;
}

.footerCenter {
    text-align: center;
}

.pageTitle{
    text-align: center;
}

#aboutContent{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;



}